* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}

body {
  background: url("img/background-login.png") repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login-area {
  width: 300px;
  background: transparent;
  padding: 30px 20px;
  text-align: center;
  z-index: 2;
}

.logo {
  width: 100px;
  margin: 0 auto 30px;
  border-radius: 50%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  text-align: left;
  font-size: 14px;
  color: #000;
}

input {
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 14px;
}

.forgot {
  font-size: 12px;
  color: #003366;
  text-align: left;
  text-decoration: underline;
  cursor: pointer;
}

button {
  padding: 10px;
  background-color: #8cc63f;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: #7bb030;
}
